https://github.com/jdhxyy/lagan-clang.git v1.0
https://github.com/jdhxyy/async-clang.git v1.1
https://github.com/jdhxyy/tztime.git v1.0
https://github.com/jdhxyy/tzmalloc.git v1.0
https://github.com/jdhxyy/tzlist.git v1.0
https://github.com/jdhxyy/pt.git v1.0
https://github.com/jdhxyy/tztype-clang.git v1.0
https://github.com/jdhxyy/crc16-clang.git v1.0
https://github.com/jdhxyy/vsocket.git v1.0
